name: Model Training CICD

permissions:
  id-token: write
  contents: write

on:
  - push

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: iterative/setup-cml@v1
      - uses: actions/checkout@v3

      - name: Train model
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          python train_model.py

          echo "## Model Scores" > report.md
          cat scores.txt >> report.md

          echo "## Model Visuals" >> report.md
          echo "![Confusion Matrix](./ConfusionMatrix.png)" >> report.md
          echo "![Feature Importance](./FeatureImportance.png)" >> report.md

          cml comment create report.md
